staging/src/main/resources/versions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Philip Oliver (Oliver Computing LLC) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="versions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaFiles">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="schemaFile" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="type" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="version" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repositoryFiles"/>
			</xs:sequence>
			<xs:attribute name="revisionDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="releaseDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="repositoryFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repositoryFile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="repositoryFile">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Abbreviations"/>
						<xs:enumeration value="Categories"/>
						<xs:enumeration value="Components"/>
						<xs:enumeration value="Datatypes"/>
						<xs:enumeration value="Enums"/>
						<xs:enumeration value="Fields"/>
						<xs:enumeration value="MsgContents"/>
						<xs:enumeration value="MsgType"/>
						<xs:enumeration value="Sections"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
